h1{
  
  font-family: "Verdana", sans-serif;
  color: #000000;
  background-color: #0043ca;
}

.myTJ-toolbar{
  color: #000000;
  background-color: #0043ca;
  border: 1px solid #0043ca;
}

.myTJ-light{
  color: #000000;
  background-color: #8f9bff;
}

.myTJ-text{
  font-family: bold "Verdana" sans-serif;
  color: #000000;
}

.myTJ-content{
  background-color: #536dfe;

}

.myTJ-border{
  border: 1px solid #0043ca;
}

.myTJ-border-light{
  border: 1px solid #8f9bff;
}