

.myTJ-text{
  font-family: bold "Verdana" sans-serif;
  color: #eee4e4;
}
.myTJ-text-dark{
  font-family: bold "Verdana" sans-serif;
  color: #212121;
}


.myTJ-primary{
  
  background-color: #424242;
}

.myTJ-primary-dark{
  background-color: #212121;
}
.myTJ-primary-light{
  background-color: #EEEEEE;
}
.myTJ-secondary{
  background-color: #757575;
}
.myTJ-secondary-dark{
  background-color: #616161;
}
.myTJ-secondary-light{
  background-color: #F5F5F5;
}

.navbar:after {
  background-color: #212121;
}
.toolbar:before {
  background-color: #212121;
}

.notePicture {
  display: block;
  margin: auto;
  width: 90vw;
  height: "auto";
}



.snackbar {
    visibility: hidden ; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

 /* Show the snackbar when clicking on a button (class added with JavaScript) */ 
.snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}