

.myTJ-text{
  font-family: bold "Verdana" sans-serif;
  color: #eee4e4;
}
.myTJ-text-dark{
  font-family: bold "Verdana" sans-serif;
  color: #212121;
}


.myTJ-primary{
  
  background-color: #424242;
}

.myTJ-primary-dark{
  background-color: #212121;
}
.myTJ-primary-light{
  background-color: #EEEEEE;
}
.myTJ-secondary{
  background-color: #757575;
}
.myTJ-secondary-dark{
  background-color: #616161;
}
.myTJ-secondary-light{
  background-color: #F5F5F5;
}